.contextMenu {
    position: absolute;
    z-index: 99999999999;
}

.contextMenu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contextMenu__item {
    background: #000000;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

.contextMenu__item:hover {
    background: #333;
}

.contextMenu__input {
    display: none;
}