.videoplayer {
    width: 1280px;
    height: 720px;
    background: #000000;
    z-index: 2;
    position: absolute;
    top: 0;
}

.videoplayer.minimalized {
    display: none;
}

.videoplayer__topbar {
    width: 1280px;
    height: 50px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;   
}

.videoplayer__name {
    color: grey;
}

.videoplayer__program-options {
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 0;
}

.videoplayer__close {
    border: none;
    background: #ff0000;
    color: #ffffff;
    width: 40px;
    height: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.videoplayer__minimalize {
    border: none;
    background: blue;
    color: #ffffff;
    width: 40px;
    height: 20px;
    outline: none;
    cursor: pointer;   
}

.videoplayer__content {
    margin-top: 50px;
    height: calc(100% - 50px);
}

.videoplayer__content:hover .videoplayer__controls {
    visibility: visible;
}

.videoplayer__video {
    width: 100%;
    height: 100%;
    outline: none;
}

.videoplayer__controls {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 98%;
    left: 0;
    right: 0;
    margin: auto;
    background: #000000;
    height: 60px;
}

.videoplayer__defaultBar {
    width: 100%;
    height: 10px;
    background: #4A4A4A;
    opacity: 0.8;
    border-radius: 10px;
}

.videoplayer__progressBar {
    height: 100%;
    background: #52A2FF;
    border-radius: 10px;
    width: 0%;
}

.videoplayer__defaultBar:hover,
.videoplayer__progressBar:hover {
    cursor: pointer;
}

.videoplayer__wrapper {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.videoplayer__group {
    margin-left: 5px;
    margin-right: 5px;
}

.videoplayer__button {
    background: none;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 5px;
    margin-left: 5px;
}

.videoplayer__volume-range {
    -webkit-appearance: none;
    height: 5px;
    background: #535353;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 21px;
}

.videoplayer__volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 20px;
    background: #52A2FF;
}

.videoplayer__time {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}